@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 255, 0.448);
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 15rem;
    min-width: 15rem;
    padding: 20px;
    background-color: white;
    border: 1px solid rgba(119, 136, 153, 0.323);
    border-radius: 20px;
    box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.276);
}

#title {
    font-size: 20pt;
}

#subtitle {
    font-weight: 300;
    font-size: 9pt;
    text-align: center;
}

.counter {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.counter .btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.555);
    cursor: pointer;
}

.counter .btn:hover {
    background-color: rgba(0, 0, 255, 0.448);
}

.btn .value {
    font-size: 20pt;
}

#currentNumber {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 50px;
}

@media (max-width:500px) {
    body {
        display: block;
        margin: 50px;
    }

    .center-container { 
        height: 10rem;
        min-width: 10rem;
        padding: 10px;
        background-color: white;
        border: 1px solid rgba(119, 136, 153, 0.323);
    }

    #title {
        font-size: 18pt;
    }

    .counter {
        flex-direction: column-reverse;
        align-items: center;
    }

    #currentNumber {
        margin: -7px 0;
        line-height: 50px;
    }
}